
h1{
    text-align: center;
    background-color: chartreuse;
    margin: 0px 350px;
    padding-bottom:0.5rem ;

}
label{
    text-align: center;
    margin: auto;
    display: block;
    padding-bottom: 1rem;
}
input{
    padding: 0.5rem 0.5rem;
}
#submit-btn{
    padding:0.5rem 0.5rem;
    margin: auto;
    display: block;
}
main{
    background-color: bisque;
    margin: 0px 350px;
    padding-top:0.5rem ;
}
ul{
    
    text-align: center;
    padding:1rem;
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.link-active{
    font-weight: bolder;
}
.link{
    margin-top:1rem;
}
.mark-li{
    margin: 1rem;
}
